/* Goolge fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Righteous&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,700&display=swap');


/* variables  */
:root{
    --light-gray: #e5e5e5;
    --dark-blue: #272743;
    --font: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

/* titulo */
.titulo {
    font-size: 3rem;
    color: var(--light-gray);
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}


/* body */
body{
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
}


/* container */
.container{
    text-align: center;
    position: relative;
    width: 450px;
    height:550px;
    padding-top: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid var(--dark-blue);
}

.container::before{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #0052d4, #4364f7, #6fb1fc) 200% 200%;
    z-index: -1;
    filter: blur(50px);
}


/* input */
.container .inputBox {
    display: flex;
    gap: 3px;
    margin-bottom: 25px;
}

.container .inputBox input {
    border: none;
    border: 1px solid var(--light-gray);
    background: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    width: 225px;
    color: var(--light-gray);
}

.container .inputBox input:focus {
    outline: none;
}


/* Boton */
.container .inputBox button {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    background: var(--light-gray);
    color: var(--dark-blue);
    cursor: pointer;
    transition: 0.3s;
}

.container .inputBox button:hover {
    background: #aca9bb;
}


/*container Pokemon */
.container .container-Pokemon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 350px;
}

.container .container-Pokemon h2 {
    font-size: 1.5rem;
    color: var(--light-gray);
}

.container .container-Pokemon p {
    color: var(--light-gray);
}

.container .container-Pokemon img {
    width: 200px;
}